body {
    width: 100%;
    margin: auto;
    background-color:#ffffff;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
#button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

#button1:hover {
    background-color: #4CAF50;
    color: white;
}

#button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

#button2:hover {
    background-color: #008CBA;
    color: white;
}

#button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
}

#button3:hover {
    background-color: #f44336;
    color: white;
}

#name{ 
    /* background:#ffffff; */
    /* background: red; */
    background: blue;
    color:black;
    width: 25%;
    text-align: center;
    /* padding: 35px 15px; */
    /* font-size: 90%; */
    /* font-family: 'Georgia', Times, Times New Roman, serif; */
    margin-left: 160px;
    float: left;
    border-radius: 40px 40px 40px 40px;
    opacity: .7;
    font-family: 'Patua One', cursive;
    
}
#mike{
    font-size: 35px;
    margin: 0px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

aside {
    /* width: 25%; */
    text-align: center;
    padding: 30px 10px;
    float: left;
    /* margin-right: 100px; */
    box-sizing: border-box;
    margin-left: 250px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding-bottom: 0px;
}


#top {
    margin-top: 40px;
    /* background-color: black; */

}

#backdrop {
    width: 100%;
    /* background: #275064; */
    padding-top: 10px;
    height: 1000px;
    border-top: 2px solid #464073;
    /* background-image: url("../images/waterfall.jpg"); */
    /* background-size: 1710px 2000px; */
    background-image: url("../images/about.jpg");
    background-size: 1700px 1020px
}

#p-backdrop {
    width: 100%;
    /* background: #275064; */
    padding-top: 10px;
    height: 1000px;
    border-top: 2px solid #464073;
    /* background-image: url("../images/waterfall.jpg"); */
    /* background-size: 1710px 2000px; */
    background-image: url("../images/portfolio-backdrop.jpg");
    background-size: 1530px 1000px;
}

#about {
    width: 900px;
    background: #ffffff ;
    margin-left: 680px;
    /* border: 2px solid #131304; */
    /* background-image: url("../images/waterfall.jpg"); */
    /* background-image: url("../images/about.jpg"); */
    color: black;
    opacity: .7;
    border-radius: 25px;
    /* float: left; */
    
    
}

.header{
    margin-left: 10px;
    text-align: center;
    padding-top: 20px;
    
}
.header span {
    font-size: 150%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: black;
    
    
}
.header span:nth-child(2n+1) {
    font-size: 150%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: green;

}

#image {
    margin-left: 10px;
    
}

#blurb {
    /* float: left;
    width: 72%;
    margin-left: 20px;
    margin-bottom: 30px; */
    /* font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; */
    color: black;
    /* line-height: 30px; */
    /* font-weight: bold; */
    margin-left: 50px;
    font-size: 18px;
    margin-right: 50px;
    /* font-family: 'Merriweather', serif; */
    line-height: 1.7;
    /* font-family: 'Patua One', cursive; */
    font-family: 'Patua One', cursive;
}

#pic {
    float: left;
    /* width: 450px;
    height: 600px; */
    margin-left: 150px;
    margin-top: 20px;
    border-radius: 90px;
    width: 430px;
    height: 550px;
    
}

#line {
    width: 90%;
    margin-left: 10px;
    color: #9AA5AA;
}

     /* #p2 {
    margin-left: 20px;
    margin-top: 0px; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
     line-height: 28px; 
     margin-right: 90px; 
     opacity: .3; 
}

#p3 {
     margin-left: 20px;
    margin-right: 80px; 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
     line-height: 28px; 
     opacity: .3; 
}  */

#thick {
    color: #9AA5AA;
    background-color:#666666;
    text-align: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 6px;
}

#thin {
    background-color: #4aaaa5;
    text-align: center;
    width: 100%;
    color: #4aaaa5;
    line-height: 6px;
    font-size: 0%;
    
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 45%;
    margin-left: 25%;
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:#4aaaa5;
}

#portfolio {
    width: 45%;
    background: #ffffff;
    margin-left: 380px;
    border: 2px solid #131304;
    position: relative;
}

#BikeBet {
    /* position: absolute; */
    /* bottom: 400px;
    right: 562px; */
    /* background-color: #4aaaa5; */
    float: left;
}

#crystal {
    /* position: absolute; */
    /* bottom: 400px;
    right: 400px; */
    /* background-color: #4aaaa5; */
    float: left;
}

#BoldlyGo {
    /* position: absolute;
    bottom: 250px;
    right: 549px;
    background-color: #4aaaa5; */
    float: left;
}

#Gif {
    /* position: absolute;
    bottom: 250px;
    right: 420px;
    background-color: #4aaaa5; */
    float: left;
}

#wc {
    /* position: absolute;
    bottom: 90px;
    right: 569px;
    background-color: #4aaaa5; */
    float: left;
}

#train {
    /* position: absolute;
    bottom: 90px;
    right: 398px;
    background-color: #4aaaa5; */
    float: left;
}

#works {
   text-align: center;
   font-size: 30px; 
}

#port1 {
    width: 20%;
    float: left;
    margin-left: 200px;
}
#port2 {
    width: 20%;
    float: left;
    margin-left: 130px;
}
#port3 {
    width: 20%;
    float: left;
    margin-left: 130px;
}

html {
    background-color: black;
}

.b1{
    background-color: rgb(11, 75, 11);; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: not-allowed;
    width: 228px;
    border-radius: 12px;
}
.b1:hover {
    background-color: blue; 
    color: black; 
    border: 2px solid #4CAF50;
}

.b2 {
    color: red;
}